# version: '3'
services:
  frontend:
    build:
      context: ./dashboardclient
      dockerfile: Dockerfile
    ports:
      - '5173:5173'
    networks:
      - app-network
    depends_on:
      - backend
    volumes:
      - ./dashboardclient:/app            # Mount your local code directory to the container
      - /app/node_modules   
    environment:
      CHOKIDAR_USEPOLLING: 'true'
    command: npm run dev -- --host

  backend:
    # environment:
    #   - MONGO_URI=mongodb+srv://mitemaemmanuel:GodsGoodness%261@realtimedashboardcluste.djsewzp.mongodb.net/?retryWrites=true&w=majority&appName=realtimedashboardcluster
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - '5000:5000'
    networks:
      - app-network
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=dev
      - MONGO_URI=mongodb+srv://mitemaemmanuel:GodsGoodness%261@realtimedashboardcluste.djsewzp.mongodb.net/?retryWrites=true&w=majority&appName=realtimedashboardcluster
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - ./backend/.env
    command: npm run dev

networks:
  app-network:
    driver: bridge